<div class="escuela-detail">
	<p><strong><span class="label-header">CIM: </span></strong></p>
  <p>{{selectedIcon.centro_integral_de_la_mujer|| "-"}}</p>
  <p><strong><span class="label-header">Comuna: </span></strong></p>
	<p>{{selectedIcon.comuna|| "-"}}</p>
	<p><strong><span class="label-header">Direccion: </span></strong></p>
	<p>{{selectedIcon.direccion|| "-"}}</p>
  <p><strong><span class="label-header">Telefono: </span></strong></p>
  <p>{{selectedIcon.Telefono|| "-"}}</p>
  <p><strong><span class="label-header">horario: </span></strong></p>
  <p>{{selectedIcon.horario|| "-"}}</p>
  <p><strong><span class="label-header">Direccion: </span></strong></p>
  <p>{{selectedIcon.direccion|| "-"}}</p>
	<p><strong><span class="label-header">Meta: </span></strong></p>
	<p>{{selectedIcon.meta_2016|| "-"}}</p>
</div>
