
		<a class="hidden-desktop" ng-click="closeDetail()">Cerrar</a> 
		<div class="col-sm-3"> 
			<img src="http://wizardofodds.com/blog/images/buenos-aires/IMG_0471-med.jpg">
		</div>
		<div class="col-sm-6"> 
			<h2><small>{{currentCompromise.categoria}}</small></h2>
			
			<h2>{{currentCompromise.numero}}.{{currentCompromise.titulo}}</h2>

			<h5>{{currentCompromise.cumplimiento}}</h5>
			<p> {{currentCompromise.desc}}</p>
			<button type="button" class="btn btn-xs btn-violet upper" >Ver mas sobre el compromiso </button>
		</div>
		<div class="col-sm-3"> 
		<p class="upper"><strong> Estado del Compromiso</strong></p>
		<p> Como lo medimos:<strong>Cantidad de plazas</strong> </p> 
		<p> Tiempo Faltante:<strong>18 meses y 12 dias </strong> </p> 
		<div class="">
			<div class="progress">
			  <div class="progress-bar progress-bar-violet"
			  	role="progressbar" 
			  		ng-style="{ 'width': currentCompromise.porcentaje + '%' }">
			    <span>{{currentCompromise.porcentaje}}% </span>
			  </div>
			</div>
		</div>
		<p>Finalizacion:<strong> {{currentCompromise.FechaFinalizacion}} </strong> </p>
		<a class="hidden-desktop" ng-click="closeDetail()">Cerrar</a> 


		</div>
	</div>