<div id="detailDiv" class="escuela-detail">
<div class="row">
  <input id="close" class="closeButton" type="button" value="X" onclick="closeBar();" />
  <div class="col-xs-12">
    <p><strong><span class="label-header">Nombre: </span></strong></p>
      <p>{{selectedIcon.polideportivos_y_parques|| "-"}}</p>
      <p><strong><span class="label-header">Dirección: </span></strong></p>
      <p>{{selectedIcon.direccion|| "-"}}</p>
        <p><strong><span class="label-header">Características: </span></strong></p>
      <p>{{selectedIcon.comuna|| "-"}}</p>
    	<p><strong><span class="label-header">Avance: </span></strong></p>
    	<p>{{selectedIcon.avance|| "-"}}</p>
  </div>
</div>

</div>

<script type="text/javascript">
  var closeBar  = function() {
    var div = document.getElementById("detailDiv").remove();
  }
</script>
