<div id="detailDiv" class="escuela-detail">
	<p><strong><span class="label-header">Comuna: </span></strong></p>
	<p>{{selectedIcon.comuna|| "-"}}</p>
	<p><strong><span class="label-header">Cantidad Luces LED Nuevas: </span></strong></p>
	<p>{{selectedIcon.cantidad_de_luces_led_nuevas|| "-"}}</p>
	<p><strong><span class="label-header">Meta: </span></strong></p>
	<p>{{selectedIcon.meta|| "-"}}</p>
	<div class="row">
		<div class="col-xs-12">
			<input id="close" class="closeButton" type="button" value="cerrar" onclick="closeBar();" />
		</div>
	</div>
</div>

<script type="text/javascript">
  var closeBar  = function() {
    var div = document.getElementById("detailDiv").remove();
  }
</script>
