<div id="detailDiv" class="escuela-detail">
	<div class="row">
		<input id="close" class="closeButton" type="button" value="X" onclick="closeBar();" />
	  <div class="col-md-3">
		<p><strong><span class="label-header">Nombre: </span></strong></p>
		<p>{{selectedIcon.nombre|| "-"}}</p>
		<p><strong><span class="label-header">Línea: </span></strong></p>
		<p>{{selectedIcon.linea_ffcc|| "-"}}</p>
		<p><strong><span class="label-header">Dirección: </span></strong></p>
	  <p>{{selectedIcon.direccion || "-"}}</p>
	</div>
	<div class="col-md-3">
	  <p><strong><span class="label-header">Estado: </span></strong></p>
	  <p>{{selectedIcon.estado|| "-"}}</p>

		<p><strong><span class="label-header">Descripción: </span></strong></p>
		<p>{{selectedIcon.descripcion || "-"}}</p>
	</div>
	</div>
</div>

<script type="text/javascript">
  var closeBar  = function() {
    var div = document.getElementById("detailDiv").remove();
  }
</script>
