<div id="detailDiv" class="escuela-detail">
	<div class="row">
		<input id="close" class="closeButton" type="button" value="X" onclick="closeBar();" />
		<div class="col-md-3">
			<p><span class="label-header">Nombre: </span>{{selectedPlaza.nombre}}</p>
			<p><span ng-show="selectedPlaza.superficie" ng-cloak
				class="label-header">Superficie en m2: </span>{{selectedPlaza.superficie}}</p>
			<p><span ng-show="selectedPlaza.tipo" ng-cloak
				class="label-header">Tipo: </span>{{selectedPlaza.tipo}}</p>
		</div>
		<div class="col-md-3">
			<p><span class="label-header">Comuna: </span>{{selectedPlaza.comuna}}</p>
			<p><span class="label-header">Ubicación: </span>{{selectedPlaza.direccion}}</p>
		</div>
	</div>
</div>

<script type="text/javascript">
  var closeBar  = function() {
    var div = document.getElementById("detailDiv").remove();
  }
</script>
