<div class="row escuela-detail">
	<div class="col-md-3">
		<p><span class="label-header">Nombre: </span>{{selectedPlaza.nombre}}</p>
		<p><span ng-show="selectedPlaza.superficie" ng-cloak
			class="label-header">Superficie: </span>{{selectedPlaza.superficie}}</p>
		<p><span ng-show="selectedPlaza.tipo" ng-cloak
			class="label-header">Tipo: </span>{{selectedPlaza.tipo}}</p>
	</div>
	<div class="col-md-3">
		<p><span class="label-header">Comuna: </span>{{selectedPlaza.comuna}}</p>
		<p><span class="label-header">Ubicación: </span>{{selectedPlaza.direccion}}</p>
	</div>
</div>