<div class="escuela-detail">

<p><strong><span class="label-header">Polideportivo o Parque: </span></strong></p>
  <p>{{selectedIcon.polideportivos_y_parques|| "-"}}</p>
  <p><strong><span class="label-header">Dirección: </span></strong></p>
  <p>{{selectedIcon.direccion|| "-"}}</p>
    <p><strong><span class="label-header">Comuna: </span></strong></p>
  <p>{{selectedIcon.comuna|| "-"}}</p>
	<p><strong><span class="label-header">Avance: </span></strong></p>
	<p>{{selectedIcon.avance|| "-"}}</p>
</div>
