html, body { width:auto; height:auto; }

html {
  background-color: #fff;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}
.closeButton {
  background: lightgray;
      border: none;
      padding: 0.3rem 0.6rem;
      font-size: 1rem;
      float: right;
      margin-right: 1.5rem;
}
.closeButton:hover, .closeButton:active{
  border: none;
  outline: 0;
}
.upper{
	text-transform: uppercase;
}

.progress{
  border-radius: 0px;
  background-image: none;
  background-color: #ccc;
  text-align: center;
  box-shadow: none;
  height: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.progress .progress-w{
    text-align: center;
    position: relative;
    color: #fff;
    font-family: "OpenSansBold", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
}

.progress .progressbar-w{
  color: #fff;
}

.progress-bar{
  background-image: none;
  position: relative;
}

/*compromiso interna*/
#compromiso-interna {
  background-color: #efefef;
  border-top-width: 1px;
  border-top-style: solid;
  margin-bottom: 40px;
  padding: 10px;
}
#compromiso-interna img{
  max-width: 100%;
}

#compromiso-interna .compromiso-icon svg {
  max-width: 60px;
  max-height: 60px;
}

#compromiso-interna h4{

}

#compromiso-interna p{
  color:#222;
}

#compromiso-interna p span.label-header{
  color:#888;
  margin-right: 3px;
}

.detalle-frame{
  border: 1px solid #DDD;
  padding: 10px;
  margin-bottom: 25px;
}
.detalle-frame .c3-axis-y .domain {
   display: none;
}

.detalle-frame-icon {
  position: absolute;
  top: 12px;
  right: 28px;
  font-size: 15pt;
}
.detalle-frame a{
  color: #333;
}
.detalle-frame-icon-2 {
    top: 40px;
    right: 27px;
    font-size: 15pt;
    position: absolute;
    cursor: pointer;
    z-index: 33;
}
.override {
  position: absolute;
  top: 12px;
  right: 28px;
  font-size: 15pt;
}
.popover{
  z-index: 100;
}

.detalle-frame .detalle-frame-title {
  font-size: 14pt;
  font-weight: 600;
  padding-right: 28px;
}

/*compromiso home*/
.compromiso-label{
	cursor: pointer;
}

#compromiso-detail{
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
}
#compromiso-detail h1,
#compromiso-detail .h1,
#compromiso-detail h2,
#compromiso-detail .h2,
#compromiso-detail h3,
#compromiso-detail .h3{
    margin-top: 0px;
    margin-bottom: 0px;
}
#compromiso-detail img{
	max-width: 100%;
}

#compromiso-detail .progress-bar span{
	color: #FFFFFF;
  float: right;
  padding-right: 10px;
}

.compromiso-action{
	stroke:#fff;
	stroke-width:1;
	cursor: pointer;
}

#menu_chart .compromiso-icon svg{
  width: 50px;
  height: 50px;
}

.compromiso-action:hover{
	stroke:#ccc;
}

.categoria-creatividad .compromiso-label text,
.categoria-creatividad .fill-color,
.categoria-creatividad .st0,
.categoria-creatividad svg path ,
.categoria-creatividad svg circle,
.categoria-creatividad svg polygon,
.categoria-creatividad svg rect,
.c{
  fill: #7c4194;
}

.categoria-disfrute .compromiso-label text,
.categoria-disfrute .fill-color,
.categoria-disfrute .st0,
.categoria-disfrute svg path ,
.categoria-disfrute svg circle,
.categoria-disfrute svg polygon,
.categoria-disfrute svg rect{
  fill: #3abaaf;
}

.categoria-humana .compromiso-label text,
.categoria-humana .fill-color,
.categoria-humana .st0,
.categoria-humana svg path ,
.categoria-humana svg circle,
.categoria-humana svg polygon,
.categoria-humana svg rect{
  fill: #f58b45;
}

.categoria-social .compromiso-label text,
.categoria-social .fill-color,
.categoria-social .st0,
.categoria-social svg path ,
.categoria-social svg circle,
.categoria-social svg polygon,
.categoria-social svg rect{
  fill: #c15180;
}

.categoria-unselected .compromiso-label text,
.categoria-unselected .fill-color,
.categoria-unselected .st0,
.categoria-unselected svg path ,
.categoria-unselected svg circle,
.categoria-unselected svg polygon,
.categoria-unselected svg rect{
  fill: #444;
}

.vertical-bar-bg{
  fill: #FFF;
}
.categoria-selected .vertical-bar-bg{
  fill:#efefef;
}

#date_chart{
    cursor: pointer;
}
#state_chart{
  cursor: pointer;
}

#menu_chart .label-group-text text{
  fill: #a6a9ad;
}
//bubble

div#category_chart {
  fill: #ff7f0e;
  fill-opacity: 1;
  max-width: 300px;
  cursor: pointer;
}

.bubble-container text {
  font-size: 12px;
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
  font-weight: bolder;
}

.bubble-container .label-group{
	fill:#000;
}
.bubble-container .categories > circle {
    fill-opacity: 0;
    fill: transparent;
    stroke-width: 0px;
}

.bubble-container circle {
  stroke: #ccc;
  stroke-width: 0px;
  fill: #fff;
}

.bubble-container .leaf circle {
  fill: #ff7f0e;
  fill-opacity: 1;
  stroke-width: 0px;

}

.bubble-chart-text-title{
  text-anchor: middle;
  fill: white;
  stroke-width:1px;
  stroke-linecap:butt;
  stroke-linejoin:miter;
  stroke-opacity:1;
  paint-order: stroke;
}


.bubble-chart-text-subtitle{
  text-anchor: middle;
  fill: white;
  font-size: 10px;
}


/*Menú de arriba*/
.c-option{
  border-top:5px solid;
  min-height: 100px;
  cursor:pointer;
}

.c-option.c-option-short h3{
  padding-top: 15px;
}

.c-option h3{
  margin-bottom: 20px;
}

.c-option-hover{
  border-top:15px solid;
}

.c-option-hover h3{
  margin-top: 10px;
}

.f-color-creatividad{
  color: #7c4194;
}

.f-color-disfrute{
  color: #3abaaf;
}

.f-color-humana{
  color: #f58b45;
}

.f-color-social{
  color: #c15180;
}

.c-option-selected.c-color-creatividad,
.bg-color-creatividad{
  background-color: #7c4194;
  color: white;
}

.c-option-selected.c-color-disfrute,
.bg-color-disfrute{
  background-color: #3abaaf;
}


.c-option-selected.c-color-humana,
.bg-color-humana{
  background-color: #f58b45;
}

.c-option-selected.c-color-social,
.bg-color-social{
  background-color: #c15180;
}

.c-option-selected h3{
  color: white;
}

.c-color-creatividad{
  border-color: #7c4194;
}
.c-color-disfrute{
  border-color: #3abaaf;
}
.c-color-humana{
  border-color: #f58b45;
}
.c-color-social{
  border-color: #c15180;
}
.c-color-disabled{

}
/*botones*/

.btn.bg-color-disfrute, .btn.bg-color-humana,
.btn.bg-color-social, .btn.creatividad{
 color: white;
 font-weight: 600;
}
/*groups*/
.group-btn{
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 2;
  cursor: pointer;
}

.display .group-btn{
  background-color: rgba(255, 255, 255, 0);
}

.btn-checkbox{
  padding-left: 0px;
  height: 17px;
  background-size: 16px;
  background-image: url('../images/checkbox.png');
  background-repeat: no-repeat;
  background-position: 0px -17px;
  font-weight: bold;
  font-family: "Gotham", Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: -0.5px;
  text-align: center;

}

.btn-checkbox.selected {
  background-position: 0px 0px;
}

.select-container{
  margin: 10px 0px;
}


.c3 svg {
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.leaf.node text{
   font-family: "OpenSans", Helvetica, Arial, sans-serif;
   font-weight: 800;
   text-transform: uppercase;
}

.detalle-frame img{
    display: block;
    margin: 0 auto;

}
.detalle-frame .c3 svg{
  text-transform: uppercase;
}

/*Axis*/
.c3-axis.c3-axis-y path.domain,
.c3-axis.c3-axis-y .tick line{
  stroke-width:0;
}
.c3-axis.c3-axis-x path.domain,
.c3-axis.c3-axis-x .tick line{
  stroke-width:0;
}

.c3-axis.c3-axis-x .tick text{
  font-size: 12px;
  color: #444;
}

.c3-ygrid-lines line{
  stroke-dasharray: 5, 5;
}
.c3
#home_chart .c3-ygrid-lines line,
#date_chart .c3-ygrid-lines line,
#state_chart .c3-ygrid-lines line{
  stroke-dasharray:none;
  stroke-width:1px;
  stroke:#FFF;
}

.hidden-desktop{
  display: none;
}
.display-desktop{
  display: block;
}
.hidden-device{
  display: block;
}
.display-device{
  display: none;
}

.vertical-bar-event{

}
.vertical-bar-event:hover{
  stroke:#ccc;
}

.custom-c3-text {
    fill: #FFF;
}

/*YouTube*/
.yt-switch{
  background-position: center center;
  min-height: 300px;
  background-size: cover;
  display: block;
}

.yt-switch img{

}

/*icon chart*/
.icon-chart-svg-container-icon{
  width: 100%;
}

.icons-container-rows{
  text-align: left;
}
.icons-container-cols{
  overflow: hidden;
}

.icons-container-rows .icon-chart-svg-container{
  width: 10%;
  display: inline-block;
}

.icons-container-cols .icon-chart-svg-container{
  width: 10%;
  float: left;
  position: relative;
  display: block;

}

.icons-chart-option .icon-chart-svg-container-icon{
  width: 5%;
  display: inline-block;
}

.icons-chart-base{
  border-bottom: 1px solid black;
}

.clear {
  clear: both;
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  /* The max width is dependant on the container (more info below) */
  .popover{
      max-width: 200px; /* Max Width of the popover (depending on the container!) */
  }
  .hidden-desktop{
    display: none;
  }
  .display-desktop{
    display: block;
  }
  .hidden-device{
    display: block;
  }
  .display-device{
    display: none;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .hidden-desktop{
    display: none;
  }
  .display-desktop{
    display: block;
  }
  .hidden-device{
    display: block;
  }
  .display-device{
    display: none;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .hidden-desktop{
    display: block;
  }
  .display-desktop{
    display: none;
  }
  .hidden-device{
    display: none;
  }
  .display-device{
    display: block;
  }
  .c-option{
    min-height: auto;
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .hidden-desktop{
    display: block;
  }
  .display-desktop{
    display: none;
  }
  .hidden-device{
    display: none;
  }
  .display-device{
    display: block;
  }
  .c-option{
    min-height: auto;
  }
  #isotopeContainer{
    margin-top: 0 !important;
    display: flex;
    justify-content: center;
  }
  .item{
    left: auto !important;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  .hidden-desktop{
    display: block;
  }
  .display-desktop{
    display: none;
  }
  .hidden-device{
    display: none;
  }
  .display-device{
    display: block;
  }
  .c-option{
    min-height: auto;
  }
}


.display{
  display: block;
}
.hidden {
  display: none;
}

.handy{
  cursor:pointer;
}

p.sub{
  font-size: 85%;
}

#home_chart{
  height: 150px;
  vertical-align: middle;
  padding: 1.3em;
}

.c3-legend-item {
    font-size: 11px;
    font-weight: bolder;
}


.escuela-detail{
  background: #fafafa;
  text-align: left;
  padding: 10px;
}
.escuela-detail span{
  color:#c0c2c1;
}

span.two-lines{
  text-align: center;
    padding: 0.7em;
  }

g.c3-chart-lines .c3-line {
  stroke-width: 2.5px;
}

.second-progress{
    min-width: 60%;
}


img.compromiso-icon {
    max-width: 60px;
    max-height: 60px;
}
ul {
  margin-right: 0 !important;
}
.compromisos-container ul, .compromisos-container li{
  list-style: none;
}
#form-ui h3, #form-ui p {
  font-family: 'OpenSans';
}
#form-ui h3 {
  padding-left: 5px;
}
#form-ui p {
  font-size: 12px;
  color: gray;
}
label{
  font-family: 'OpenSans';
  font-size: 12px;
  color: gray;
}
#form-ui-1 input[type=radio], #form-ui-1 input[type=checkbox] {
		display:none;
	}
#form-ui-1 label {
  font-family: 'OpenSans';
  font-size: 12px;
  display: inline-block;
  margin: 5px;
  padding: 2px 8px;
  cursor: pointer;
  border: 1px solid gray;
  color: gray;
  border-radius: 20px;

}
#form-ui-1 label+input[type="radio"]:checked{

  border:1px solid red;
  background: red;
  color: white;

}
#homeYearContainer, #homePercentContainer{

      padding: 0;
    margin: 0;
    padding-left: 5px;
    padding-top: 5px;
}

#homeYearContainer > div,#homePercentContainer > div{
  font-family: 'OpenSans';
  font-size: 12px;
  display: flex;
justify-content: flex-start;
flex-direction: row;
width: auto;
}
#homeTextContainer input{
  font-family: 'OpenSans';
  font-size: 12px;
  width: 100%;
  height: 30px;
  margin-bottom: 0;
}
#homeTextContainer input:focus{
  focus:none !important;
  box-shadow: none !important;
  border: 1px solid #CC105F !important;
}
#homeYearContainer > p,#homePercentContainer > p{
  font-family: 'OpenSans';
  font-size: 14px;
  padding-left: 0;
}
#homeYearContainer label,#homePercentContainer label{
  font-family: 'OpenSans';
  font-size: 12px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  flex-direction: column;
  width: 25%;
}
#searchTextInput {
font-family: 'OpenSans';
  background: url('/images/search-icon.png') no-repeat scroll -15px 5px;
  background-size: 20px;
  background-position: 99%;
}

.checked {
font-family: 'OpenSans';  background: #CC105F;
  border: 1px solid #CC105F !important ;
  color: white !important;
}
.active {
    border: 1px solid #f90;
}
.inactive {
    color: 1px solid red;
}
hr.lineShadow {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}

#flexOptions{
  display: flex;
  justify-content: space-between;
}
.flexOptionsRight{
  display: flex;
}
.flexOptionsRight input[type=radio]{
  display: none;
}

.item{
  height: 150px !important;
  width:150px !important;
}
h4{
  font-size: 14px;
}
.compromiso-row{
  cursor:pointer;
}
