html, body { width:auto; height:auto; }

html {
  background-color: #fff;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

.upper{
	text-transform: uppercase;
}

.progress{
  border-radius: 0px;
  background-image: none;
  background-color: #ccc;
  text-align: center;
  box-shadow: none;
}

.progress .progress-w{
    text-align: center;
    position: relative;
    color: #fff;
    font-family: "OpenSansBold", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
}

.progress .progressbar-w{
  color: #fff;
}

.progress-bar{
  background-image: none;
  position: relative;
}

/*compromiso interna*/
#compromiso-interna {
  background-color: #efefef;
  border-top-width: 1px;
  border-top-style: solid;
  margin-bottom: 40px;
  padding: 10px;
}
#compromiso-interna img{
  max-width: 100%;
}

#compromiso-interna .compromiso-icon svg {

}

#compromiso-interna h4{

}

#compromiso-interna p{
  color:#222;
}

#compromiso-interna p span.label-header{
  color:#888;
  margin-right: 3px;
}

.detalle-frame{
  border: 1px solid #999;
  padding: 10px;
  margin-bottom: 25px;
}
.detalle-frame .c3-axis-y .domain {
   display: none;
}

.detalle-frame-icon {
  position: absolute;
  top: 12px;
  right: 28px;
  font-size: 15pt;
}

.detalle-frame .detalle-frame-title {
  font-size: 14pt;
  font-weight: 600;
  padding-right: 28px;
}

/*compromiso home*/
.compromiso-label{
	cursor: pointer;
}

#compromiso-detail{
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
}
#compromiso-detail h1, 
#compromiso-detail .h1, 
#compromiso-detail h2, 
#compromiso-detail .h2, 
#compromiso-detail h3, 
#compromiso-detail .h3{
    margin-top: 0px;
    margin-bottom: 0px;
}
#compromiso-detail img{
	max-width: 100%;
}

#compromiso-detail .progress-bar span{
	color: #FFFFFF;
  float: right;
  padding-right: 10px;
}

.compromiso-action{
	stroke:#fff;
	stroke-width:1;
	cursor: pointer;
}

#menu_chart .compromiso-icon svg{
  width: 50px;
  height: 50px;
}

.compromiso-action:hover{
	stroke:#ccc;
}

.categoria-creatividad .compromiso-label,
.categoria-creatividad .fill-color,
.categoria-creatividad .st0{
  fill: #7c4194;
}

.categoria-disfrute .compromiso-label,
.categoria-disfrute .fill-color,
.categoria-disfrute .st0{
  fill: #3abaaf;
}

.categoria-humana .compromiso-label,
.categoria-humana .fill-color,
.categoria-humana .st0{
  fill: #f58b45;
}

.categoria-social .compromiso-label,
.categoria-social .fill-color,
.categoria-social .st0{
  fill: #c15180;
}

.categoria-unselected .compromiso-label,
.categoria-unselected .fill-color,
.categoria-unselected .st0{
  fill: #444;
}

.vertical-bar-bg{
  fill: #FFF;
}
.categoria-selected .vertical-bar-bg{
  fill:#efefef;
}

#date_chart{
    cursor: pointer;
}
#state_chart{
  cursor: pointer;
}

#menu_chart .label-group-text{
  fill: #a6a9ad;
  font-size: 30px;
  font-weight: 700;
}
//bubble

div#category_chart {
  fill: #ff7f0e;
  fill-opacity: 1;
  max-width: 300px;
  cursor: pointer;
}

.bubble-container text {
  font-size: 10px;
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
  font-weight: bolder;
}

.bubble-container .label-group{
	fill:#000;
}
.bubble-container .categories > circle {
    fill-opacity: 0;
    fill: transparent;
    stroke-width: 0px;
}

.bubble-container circle {
  stroke: #ccc;
  stroke-width: 0px;
  fill: #fff;
}

.bubble-container .leaf circle {
  fill: #ff7f0e;
  fill-opacity: 1;
  stroke-width: 0px;

}

.bubble-chart-text-title{            
  text-anchor: middle;
  fill: white;
  font-size: 12px;
}


.bubble-chart-text-subtitle{            
  text-anchor: middle;
  fill: white;
  font-size: 10px;
}


/*Menú de arriba*/
.c-option{
  border-top:5px solid;
  min-height: 100px;
  cursor:pointer;
}

.c-option.c-option-short h3{
  padding-top: 15px;
}

.c-option h3{
  margin-bottom: 20px;
}

.c-option-hover{
  border-top:15px solid;
}

.c-option-hover h3{
  margin-top: 10px;
}

.f-color-creatividad{
  color: #7c4194;
}

.f-color-disfrute{
  color: #3abaaf;
}

.f-color-humana{
  color: #f58b45;
}

.f-color-social{
  color: #c15180;
}

.c-option-selected.c-color-creatividad,
.bg-color-creatividad{
  background-color: #7c4194;
  color: white;
}

.c-option-selected.c-color-disfrute,
.bg-color-disfrute{
  background-color: #3abaaf;
}


.c-option-selected.c-color-humana,
.bg-color-humana{
  background-color: #f58b45;
}

.c-option-selected.c-color-social,
.bg-color-social{
  background-color: #c15180;
}

.c-option-selected h3{
  color: white;
}

.c-color-creatividad{
  border-color: #7c4194;
}
.c-color-disfrute{
  border-color: #3abaaf;
}
.c-color-humana{
  border-color: #f58b45;
}
.c-color-social{
  border-color: #c15180;
}
.c-color-disabled{

}
/*botones*/

.btn.bg-color-disfrute, .btn.bg-color-humana,
.btn.bg-color-social, .btn.creatividad{
 color: white;
 font-weight: 600;
}
/*groups*/
.group-btn{
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 2;
  cursor: pointer;
}

.display .group-btn{
  background-color: rgba(255, 255, 255, 0);
}

.btn-checkbox{
  padding-left: 33px;
  height: 24px;
  background-image: url('../images/checkbox.png');
  background-repeat: no-repeat;
  background-position: 0px -26px;
  font-weight: bold;
  font-size: 15px;
}

.btn-checkbox.selected {
  background-position: 0px -2px;
}

.select-container{
  margin: 10px 0px;
}


.c3 svg {
  font-family: "OpenSans", Helvetica, Arial, sans-serif;

}

.leaf.node text{
   font-family: "OpenSans", Helvetica, Arial, sans-serif;
   font-weight: 800;
}

.detalle-frame .c3 svg{
  text-transform: uppercase;
}
   
/*Axis*/
.c3-axis.c3-axis-y path.domain,
.c3-axis.c3-axis-y .tick line{
  stroke-width:0;
}
.c3-axis.c3-axis-x path.domain,
.c3-axis.c3-axis-x .tick line{
  stroke-width:0;
}

.c3-axis.c3-axis-x .tick text{
  font-size: 12px;
  color: #444;
}

.c3-ygrid-lines line{
  stroke-dasharray: 5, 5;
}
.c3
#home_chart .c3-ygrid-lines line,
#date_chart .c3-ygrid-lines line,
#state_chart .c3-ygrid-lines line{
  stroke-dasharray:none;
  stroke-width:3px;
  stroke:#FFF;
}

.hidden-desktop{
  display: none;
}
.display-desktop{
  display: block;
}
.hidden-device{
  display: block;
}
.display-device{
  display: none;
}

.vertical-bar-event{

}
.vertical-bar-event:hover{
  stroke:#ccc;
}

.custom-c3-text{
    fill:#fff;
}

/*YouTube*/
.yt-switch{
  background-position: center center;
  min-height: 300px;
  background-size: cover;
  display: block;
}

.yt-switch img{

}

/*icon chart*/
.icon-chart-svg-container-icon{
  width: 100%;
}

.icons-container-rows{
  text-align: left;
}
.icons-container-cols{
  overflow: hidden;
}

.icons-container-rows .icon-chart-svg-container{
  width: 10%;
  display: inline-block;
}

.icons-container-cols .icon-chart-svg-container{
  width: 10%;
  float: left;
  position: relative;
  display: block;

}

.icons-chart-option .icon-chart-svg-container-icon{
  width: 5%;
  display: inline-block;
}

.icons-chart-base{
  border-bottom: 1px solid black;
}

.clear {
  clear: both;
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .hidden-desktop{
    display: none;
  }
  .display-desktop{
    display: block;
  }
  .hidden-device{
    display: block;
  }
  .display-device{
    display: none;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .hidden-desktop{
    display: none;
  }
  .display-desktop{
    display: block;
  }
  .hidden-device{
    display: block;
  }
  .display-device{
    display: none;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .hidden-desktop{
    display: block;
  }
  .display-desktop{
    display: none;
  }
  .hidden-device{
    display: none;
  }
  .display-device{
    display: block;
  }
  .c-option{
    min-height: auto;
  }

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  .hidden-desktop{
    display: block;
  }
  .display-desktop{
    display: none;
  }
  .hidden-device{
    display: none;
  }
  .display-device{
    display: block;
  }
  .c-option{
    min-height: auto;
  }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
  .hidden-desktop{
    display: block;
  }
  .display-desktop{
    display: none;
  }
  .hidden-device{
    display: none;
  }
  .display-device{
    display: block;
  }
  .c-option{
    min-height: auto;
  }
}


.display{
  display: block;
}
.hidden {
  display: none;
}

.handy{
  cursor:pointer;
}

p.sub{
  font-size: 85%;
}

#home_chart{
  height: 150px;
  vertical-align: middle;

}

.c3-legend-item {
    font-size: 11px;
    font-weight: bolder;
}