html, body { width:auto; height:auto; }

html {
  background-color: #fff;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

.btn-violet, .progress-bar-violet{
	background-color:#7f3e98;
}
.upper{
	text-transform: uppercase;
}


//compromiso
.compromiso-label{
	cursor: pointer;
}

#compromiso-detail{

}
#compromiso-detail img{
	max-width: 100%;
}

#compromiso-detail .progress-bar span{
	color: #FFFFFF;
    float: right;
    padding-right: 10px;
}

.compromiso-action{
	stroke:#fff;
	stroke-width:1;
	cursor: pointer;
}

.compromiso-icon svg{
  width: 50px;
  height: 50px;
}

.compromiso-action:hover{
	stroke:#ccc;
}

.categoria-smart .compromiso-label,
.categoria-smart .compromiso-icon .st0{
  fill: #7c4194;
}

.categoria-convivencia .compromiso-label,
.categoria-convivencia .compromiso-icon .st0{
  fill: #3abaaf;
}

.categoria-movilidad .compromiso-label,
.categoria-movilidad .compromiso-icon .st0{
  fill: #f58b45;
}

.categoria-social .compromiso-label,
.categoria-social .compromiso-icon .st0{
  fill: #fccf2b;
}

.categoria-unselected .compromiso-label,
.categoria-unselected .compromiso-icon .st0{
  fill: #444;
}

//date chart
#date_chart{
    cursor: pointer;
}
//state chart
#state_chart{
  cursor: pointer;
}

#menu_chart .label-group-text{
  fill: #a6a9ad;
  font-size: 30px;
}
//bubble

div#category_chart {
  fill: #ff7f0e;
  fill-opacity: 1;
  max-width: 300px;
  cursor: pointer;
}

.bubble-container text {
  font: 10px sans-serif;
}

.bubble-container .label-group{
	fill:#000;
}
.bubble-container .categories > circle {
    fill-opacity: 0;
    fill: transparent;
    stroke-width: 0px;
}

.bubble-container circle {
  fill: rgb(31, 119, 180);
  fill-opacity: .25;
  stroke: rgb(31, 119, 180);
  stroke-width: 1px;
}

.bubble-container .leaf circle {
  fill: #ff7f0e;
  fill-opacity: 1;
}

/*Menú de arriba*/
.c-option{
  border-top:5px solid;
  min-height: 100px;
  cursor:pointer;
}

.c-option.c-option-short h3{
  padding-top: 15px;
}

.c-option h3{
  margin-bottom: 20px;
}

.c-option-hover{
  border-top:15px solid;
}

.c-option-hover h3{
  margin-top: 10px;
}

.c-option-selected.c-color-smart{
  background-color: #7c4194;
}

.c-option-selected.c-color-convivencia{
  background-color: #3abaaf;
}

.c-option-selected.c-color-movilidad{
  background-color: #f58b45;
}

.c-option-selected.c-color-social{
  background-color: #fccf2b;
}

.c-option-selected h3{
  color: white;
}

.c-color-smart{
  border-color: #7c4194;
}
.c-color-convivencia{
  border-color: #3abaaf;
}
.c-color-movilidad{
  border-color: #f58b45;
}
.c-color-social{
  border-color: #fccf2b;
}
.c-color-disabled{

}

/*groups*/
.group-btn{
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 2;
  cursor: pointer;
}

.display .group-btn{
  background-color: rgba(255, 255, 255, 0);
}

.btn-checkbox{
  padding-left: 33px;
  height: 24px;
  background-image: url('../images/checkbox.png');
  background-repeat: no-repeat;
  background-position: 0px -26px;
  font-weight: bold;
  font-size: 15px;
}

.btn-checkbox.selected {
  background-position: 0px -2px;
}

.select-container{
  margin: 10px 0px;
}

/*Axis*/
.c3-axis.c3-axis-x path.domain,
.c3-axis.c3-axis-x .tick line{
  stroke-width:0;
}

.c3-axis.c3-axis-x .tick text{
  font-size: 12px;
  color: #444;
}

.hidden-desktop{
  display: none;
}
.display-desktop{
  display: block;
}
.hidden-device{
  display: block;
}
.display-device{
  display: none;
}

#filler{
  
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .hidden-desktop{
    display: none;
  }
  .display-desktop{
    display: block;
  }
  .hidden-device{
    display: block;
  }
  .display-device{
    display: none;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .hidden-desktop{
    display: none;
  }
  .display-desktop{
    display: block;
  }
  .hidden-device{
    display: block;
  }
  .display-device{
    display: none;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .hidden-desktop{
    display: block;
  }
  .display-desktop{
    display: none;
  }
  .hidden-device{
    display: none;
  }
  .display-device{
    display: block;
  }
  .c-option{
    min-height: auto;
  }
  #compromiso-detail{
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  .hidden-desktop{
    display: block;
  }
  .display-desktop{
    display: none;
  }
  .hidden-device{
    display: none;
  }
  .display-device{
    display: block;
  }
  .c-option{
    min-height: auto;
  }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
  .hidden-desktop{
    display: block;
  }
  .display-desktop{
    display: none;
  }
  .hidden-device{
    display: none;
  }
  .display-device{
    display: block;
  }
  .c-option{
    min-height: auto;
  }
}


.display{
  display: block;
}
.hidden {
  display: none;
}