<div id="{{tagID}}" class="icons-container-{{orientacion}}">
	<div>
		<div class="icons-chart-option text-left" ng-repeat="o in opciones" data-color="{{o.color}}">
			{{o.titulo}}
		</div>
		<div class="icons-chart-base text-right">
			{{base.titulo}}
		</div>
		<div ng-if="orientacion=='rows'">
			<div ng-repeat="q in qty" class="icon-chart-svg-container">
				<div id="icon-chart-svg-{{q}}" class="icon-chart-svg-container-icon"></div>
			</div>
		</div>
		<div ng-if="orientacion=='cols'">
			<div ng-repeat="(key,v) in cols" class="icon-chart-svg-container">
				<div id="icon-chart-svg-{{v2}}" ng-repeat="(key2,v2) in v.items" class="icon-chart-svg-container-icon"></div>
				<br class="clear">
			</div>
		</div>
	</div>
</div>
