<div class="detalle-frame {{class}}">
    <p class="detalle-frame-title text-left" ng-if="title">{{title}}
    </p>
    <i ng-if="nota || fuente" class="detalle-frame-icon glyphicon glyphicon-info-sign" data-container="body" title="{{nota}}" data-toggle="popover" data-placement="bottom" data-content="Fuente: {{fuente}}">
    </i>
    <span ng-show="loading">Cargando...</span>
    <a class="yt-switch" href="javascript:;" ng-click="ytSwitch=true;" ng-hide="ytSwitch" ng-style="{'background-image':'url('+ytThumbnail+')'}">
        <img class="img-responsive" src="images/play.png"/>
    </a>
    <ng-youtube-embed 
        ng-if="ytSwitch"
        url="url"
        playauto="true"
        color="white"
        disablekb="true"
        width="100%"
        height="300px"
        rel="false"
        theme="light"
        modestbranding="1"
        >
    </ng-youtube-embed>
</div>
