<p class="text-center" ng-show="loading">Cargando...</p>

<div ng-hide="loading">
  <div class="row">

      <div ng-include="'views/includes/detail.html'" 
        id="compromiso-detail" class="row well" ng-cloak ng-show="currentCompromise">
      </div>
  

    <div ng-if="data.detalle_1" class="col-md-6 text-center">
    	<smart-content url="data.detalle_1" template=""></smart-content>
    </div>

    <div ng-if="data.detalle_2" class="col-md-6 text-center">
    	<smart-content url="data.detalle_2"></smart-content>
    </div>

    <div ng-if="data.detalle_3" class="col-md-6 text-center">
      <smart-content url="data.detalle_3" data-callback="prepareData" config-callback="completeConfig"></smart-content>
    </div>

    <ng-youtube-embed class="col-md-6 text-center"
        url="youtubeLink" 
        autoplay="false"
        color="white"
        disablekb="true">
    </ng-youtube-embed>

  </div>
</div>