<div class="row hidden-device">
	<div class="col-sm-3 c-option c-color-smart" data-slug="smart">
  		<h3 class="text-center">Ciudad inteligente y sustentable</h3>
  	</div>
	<div class="col-sm-3 c-option c-option-short c-color-convivencia" data-slug="convivencia">
  		<h3 class="text-center">Convivencia</h3>
  	</div>
	<div class="col-sm-3 c-option c-option-short c-color-movilidad" data-slug="movilidad">
  		<h3 class="text-center">Hábitat y movilidad</h3>
  	</div>
	<div class="col-sm-3 c-option c-color-social" data-slug="social">
  		<h3 class="text-center">Protección e integración social</h3>
  	</div>
</div>

<div class="row hidden-desktop">
	<div class="col-xs-3 c-option c-color-smart"></div>
	<div class="col-xs-3 c-option c-color-convivencia"></div>
	<div class="col-xs-3 c-option c-color-movilidad"></div>
	<div class="col-xs-3 c-option c-color-social"></div>
</div>


<div class="row hidden-desktop select-container">
	<div class="col-xs-12">
	  	<select ng-change="onChangeCategory()" ng-model="selectedCategory" class="form-control">
	  		<option value="">Elegir categoría</option>
	  		<option value="smart">Ciudad inteligente y sustentable</option>
	  		<option value="convivencia">Convivencia</option>
	  		<option value="movilidad">Hábitat y movilidad</option>
	  		<option value="social">Protección e integración social</option>
	  	</select>
  	</div>
  	<hr>
	<div class="col-xs-12">
	  	<select ng-change="onChangeGroup()" ng-model="selectedGroup" class="form-control">
	  		<option value="home">Ordenar por nombre</option>
	  		<option value="date">Ordenar por fecha fin</option>
	  		<option value="state">Ordenar por estado</option>
	  		<option value="category">Ordenar por categoría</option>
	  	</select>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-sm-3 hidden-device" ng-class="{'display':(selectedGroup=='home')}">
		<a class="group-btn" ng-click="groupMenu('home')"></a>
		<p class="btn-checkbox hidden-device" ng-class="{'selected':(selectedGroup=='home')}">Ordenar por nombre</p>
		<div id="home_chart">
			<p class="text-center" ng-cloak ng-show="loading">Cargando...</p>
		</div>
		<small class="text-center">Vista general de los compromisos</small>
  	</div>
	<div class="col-sm-3 hidden-device" ng-class="{'display':(selectedGroup=='date')}">
		<a class="group-btn" ng-click="groupMenu('date')"></a>
  		<p class="btn-checkbox hidden-device" ng-class="{'selected':(selectedGroup=='date')}">Ordenar por fecha de fin</p>
		<div id="date_chart">
			<p class="text-center" ng-cloak ng-show="loading">Cargando...</p>
		</div>
		<small class="text-center">Cantidad de compromisos por año de finalización</small>
  	</div>
	<div class="col-sm-3 hidden-device" ng-class="{'display':(selectedGroup=='state')}">
		<a class="group-btn" ng-click="groupMenu('state')"></a>
  		<p class="btn-checkbox hidden-device" ng-class="{'selected':(selectedGroup=='state')}">Ordenar por estado</p>
		<div id="state_chart" ng-click="groupMenu('state')">
			<p class="text-center" ng-cloak ng-show="loading">Cargando...</p>
		</div>
		<small class="text-center">Cantidad de compromisos por estado de progreso</small>
  	</div>
	<div class="col-sm-3 hidden-device" ng-class="{'display':(selectedGroup=='category')}">
		<a class="group-btn" ng-click="groupMenu('category')"></a>
  		<p class="btn-checkbox hidden-device" ng-class="{'selected':(selectedGroup=='category')}">Ordenar por categoría</p>
		<div id="category_chart" ng-click="groupMenu('category')">
			<p class="text-center" ng-cloak ng-show="loading">Cargando...</p>
		</div>
		<small class="text-center">Cantidad de compromisos por categoría de pertenencia</small>
  	</div>
</div>

<hr/>
<p class="text-center" ng-show="loading">Cargando...</p>
<div ng-cloak ng-hide="loading">

	<div class="row">
	  	<div id="menu_chart"></div>
	</div>
	<hr/>


		<div id="compromiso-detail" class="row well" ng-cloak ng-show="currentCompromise">
			
			<div class="col-sm-3 hidden-device"> 
				<img ng-src="{{currentCompromise.imagen}}">
			</div>
			
			<div class="col-sm-6"> 
					<div class="row">
						  <div class="col-xs-10 col-sm-12"><h2><small>{{currentCompromise.categoria}}</small></h2></div>
						  <div class="col-xs-2 hidden-desktop"><a class="" ng-click="closeDetail()">(x)</a> </div>
						</div>			
				<h2>{{currentCompromise.numero}}.{{currentCompromise.titulo}}</h2>

				<h5>{{currentCompromise.cumplimiento}}</h5>
				<p> {{currentCompromise.desc}}</p>
				<button type="button" class="btn btn-xs upper bg-color-{{currentCompromise.slug}}  hidden-device" >Ver mas sobre el compromiso &#187; </button>
			</div>
			<div class="col-sm-3"> 
				<p class="upper"><strong>Estado del Compromiso</strong></p>
				<p> Como lo medimos:<strong>{{currentCompromise.porcentaje_completado}}</strong> </p> 
				<p> Tiempo Faltante:<strong>{{currentCompromise.porcentaje_completado}} </strong> </p> 
				<div class="progress">
				  <div class="progress-bar bg-color-{{currentCompromise.slug}}"
				  	role="progressbar" 
				  		ng-style="{ 'width': currentCompromise.porcentaje_completado + '%' }">
				    <span class="progressbar-w" ng-hide="currentCompromise.porcentaje_completado<50">{{currentCompromise.porcentaje_completado}}% </span>
				  </div>
				  <div class="progress-w" ng-show="currentCompromise.porcentaje_completado<50" ng-style="{ 'width': (100 - currentCompromise.porcentaje_completado) + '%' }">{{currentCompromise.porcentaje_completado}}% </div>
				</div>
				<p>Finalizacion:<strong> {{currentCompromise.FechaFinalizacion}} </strong> </p>
				<div class="col-md-4 center-block">


				<button  id="singlebutton" name="singlebutton" type="button" class="btn btn-xs upper bg-color-{{currentCompromise.slug}}  hidden-desktop center-block" >Ver mas sobre el compromiso &#187; </button>
			</div>
				<a class="hidden-desktop" ng-click="closeDetail()">Cerrar</a> 
			</div>
		</div>
	

	<div id="filler" class="hidden-desktop"></div>

</div>
<hr/>
