<!-- <div ng-click="forceCloseDetail()"> -->
<div id="page">
  <div id="buscador">
   <form id="mainForm" accept-charset="utf-8">
    <label for="search">Buscar</label>
  <input type="text" size="40" name="search" id="search" title="Lugar a buscar" class="text"/>
  <br>
  <span id="ejemplo">ej.: Callao y Corrientes, Florida 550, Teatro San Martín, etc.</span>
  <br>
  <!-- <button type="button" name="button" ng-click='usig.addMarkers()'>ADD</button> -->
  <button type="button" name="button" ng-click='usig.removeMarkers()'>REMOVE</button>
  <div class="checkbox">
      <label>
        <input ng-model="valor" type="checkbox" name="actividades"
             ng-change='usig.addMarkers(valor)' ng-true-value="1" ng-false-value="0">
        Cines
      </label>
  </div>
  <div class="checkbox">
      <label>
        <input ng-model="valor2" type="checkbox" name="actividades"
             ng-change='usig.addMarkers(valor2)' ng-true-value="2" ng-false-value="0">
        perros
      </label>
  </div>
  <div class="checkbox">
      <label>
        <input ng-model="valor3" type="checkbox" name="actividades"
             ng-change='usig.addMarkers(valor3)' ng-true-value="3" ng-false-value="0">
        reciclaje
      </label>
  </div>
  <div class="checkbox">
      <label>
        <input ng-model="valor4" type="checkbox" name="actividades"
             ng-change='usig.addMarkers(valor4)' ng-true-value="4" ng-false-value="0">
        centros
      </label>
  </div>
  <div id="mapa"></div>
   </form>
  </div>
</div>



<div id="form-ui" class="row" ng-cloak ng-hide="loading" ng-click="forceCloseDetail()">
   <div class="row filters padding">
      <h3>Explorador de compromisos</h3>
      <p class="col-xs-12 col-sm-6">Filtrar por área:</p>
      <div id="selectsContainer" class="col-xs-12 col-sm-6">
              <a class="action" ng-click="setAllFilters()">Seleccionar todos  - </a>
              <a class="action" ng-click="removeAllFilters()">Deseleccionar todos  </a>
         </div>
      </div>
   <div class="row filters">
      <div class="homeAreaContainer">
         <p id="form-ui-1">
            <label id="checkboxButton" ng-repeat="area in areas" on-finish-render="ngRepeatFinished" class="inactive" >
            <input id="categories" class="categories checkMyCheck" type="checkbox" value=".{{area}}" /> {{area.toLowerCase().split('-').join(' ')}}
            </label>
         </p>
      </div>
   </div>
   <div class="row filters">
      <div id="homeTextContainer" class="col-xs-12 col-sm-4 filters" >
         <p>Buscar por palabra clave:</p>
         <!-- <input id="searchTextInput" type="text" ng-model="search.titulo" ng-click="setTextFilter()"> -->
         <input id="searchTextInput" type="text" ng-model="search" ng-change="setTextFilter()">
      </div>
      <div id="homeYearContainer" class="col-xs-12 col-sm-4 filters" >
         <p>Filtrar por año de cumplimiento:</p>
         <div class="">

               <label ng-repeat="cump in cumplimiento | orderBy: cump">
                  <input type="radio" class="years" value=".{{cump}}" name=".years" />
            {{cump}}</label>

         </div>
      </div>
      <div id="homePercentContainer" class="col-xs-12 col-sm-4 filters">
         <p>Filtrar por avance:</p>
         <div >
            <label><input type="radio" class="percent" value=".very-low" name="percentage" />0%-25%</label>
            <label><input type="radio" class="percent" value=".low" name="percentage" />25%-50%</label>
            <label><input type="radio" class="percent" value=".high" name="percentage" />50%-75%</label>
            <label><input type="radio" class="percent" value=".very-high" name="percentage" />75%-100%</label>


         </div>
         </div>
   </div>
   <hr/>
</div>

<ul id="isotopeContainer" ng-click="forceCloseDetail();$event.stopPropagation();"isotope-container="isotope-container" class="compromisos-container">
  <!-- <ul id="isotopeContainer" isotope-container="isotope-container" class="compromisos-container"> -->
  <li ng-repeat="d in data" isotope-item="isotope-item" class="compromiso-row {{d.slug}} {{d.cumplimiento}} {{d.porcentaje_completado}} {{d.area1.toLowerCase().split(' ').join('-')}} {{d.area2.toLowerCase().split(' ').join('-')}} {{d.area3.toLowerCase().split(' ').join('-')}}  {{d.titulo.toLowerCase().split(' ').join(' ')}}
  {{d.area4.toLowerCase().split(' ').join('-')}} col-xs-3 item {{d.classPercent}} allFilters"
      ng-click="showCompromisoDetail(d,$event);$event.stopPropagation();">
      <img class="icon-svg-container compromiso-icon" ng-src="{{d.iconSVG}}">
      <h4 class="titulo">{{d.titulo}}</h4>
   </li>
</ul>
<p class="text-center" ng-show="loading">Cargando...</p>
<div ng-cloak ng-hide="loading">
   <div class="row">
   </div>
   <div id="compromiso-detail" class="row well" ng-cloak ng-show="currentCompromise">
      <div class="header">
         <div class="row">
            <div class="col-xs-8 label-text">
               <img class="icon-svg-container compromiso-icon" ng-src="{{currentCompromise.iconSVG}}">
               <h5>{{currentCompromise.titulo}}</h5>
            </div>
            <div class="col-xs-4">
               <h5 class="text-right close"><a class="" href="javascript:;" ng-click="closeDetail()">
 <span class="glyphicon glyphicon-remove white"></span></a></h5>
            </div>
         </div>
      </div>
      <div class="col-sm-4 hidden-device photo-frame">
         <img class="photo" ng-src="{{currentCompromise.imagen}}">
      </div>
      <div class="col-xs-12 col-sm-6">
         <div class="row">
            <div class="col-sm-12">
               <h3><small>{{currentCompromise.categoria}}</small></h3>
               <h3>{{currentCompromise.titulo}}</h3>
               <p> {{currentCompromise.desc}}</p>
            </div>
            <div class="col-sm-12">
               <p class="upper"><strong>Estado del Compromiso</strong></p>
               <p ng-cloak ng-show="currentCompromise.metrica"> ¿Cómo lo medimos? <strong>{{currentCompromise.metrica}}</strong></p>
               <div class="progress">
                  <div class="progress-bar bg-color-{{currentCompromise.slug}}"
                     role="progressbar"
                     ng-style="{ 'width': currentCompromise.porcentaje_completado + '%' }">
                     <span class="progressbar-w" ng-hide="currentCompromise.porcentaje_completado<50">{{currentCompromise.porcentaje_completado}}% </span>
                  </div>
                  <div class="progress-w" ng-show="!currentCompromise.porcentaje_completado">
                     <p>-</p>
                  </div>
                  <div class="progress-w second-progress" ng-show="currentCompromise.porcentaje_completado<50" ng-style="{ 'width': (100 - currentCompromise.porcentaje_completado) + '%' }">{{currentCompromise.porcentaje_completado}}% </div>
               </div>
            </div>

                  <div class="col-xs-6 col-md-6">
                     <p> </p>
                  </div>
                  <div class="col-xs-6 col-md-6">
                     <p class="right"ng-cloak ng-show="currentCompromise.cumplimiento"> Fecha Finalización <strong>{{currentCompromise.cumplimiento}}</strong></p>
                  </div>

               <div class="col-xs-12">
                  <a ng-href="{{currentCompromise.url_interna}}" target="_blank" ng-hide="currentCompromise.url_interna === undefined" class="btn full btn-xs upper bg-color-{{currentCompromise.slug}}  center-block" >Ver mas sobre el compromiso &#187;  </a>
               </div>
            </div>
         </div>
            <div class="col-xs-12 label-text header-map" ng-if="currentCompromise.embed_map_titulo" >
                  <h6>{{currentCompromise.embed_map_titulo}}</h6>
               </div>

           <div ng-if="currentCompromise.embed_map_url" class="col-xs-12 map-container">
             <iframe width="100%" height="385"  src="{{currentCompromise.embed_map_url | trustAsResourceUrl}}"  frameborder="0">

              </iframe>
           </div>
      </div>
   <!-- </div> -->
   <div id="filler"></div>
</div>
</div>
