<p class="text-center" ng-show="loading">Cargando...</p>
<div ng-hide="loading">
  <div class="hidden-device">
    <clickeable-ilustration ilustration-name="'movilidad'" show-compromiso="showCompromiso(cId)"></clickeable-ilustration>
  </div>
	<div class="row display-device">
        <div class="col-md-12">
            <div class="row ilustracion" ng-repeat="ilu in ilustraciones">
              <div class="col-xs-2" ng-click="showMe(ilu)">
                <img class="icon-svg-container compromiso-icon" ng-src="{{ilu.detalleCompromiso.iconSVG}}">
              </div>
              <div class="col-xs-8" ng-click="showMe(ilu)">
                <p>{{ilu.titulo}}</p>
              </div>
              <div class="col-xs-2" ng-click="showMe(ilu)">
                <a href=""  ng-hide="ilu.showDetail" ng-click="showMe(ilu)"><img class="plus" src="images/cerrar.svg"></a>  
                <a href=""  ng-show="ilu.showDetail" ng-click="closeMobileDetail()"><img class="plus" src="images/cerrar.svg"></a>  
              </div>  
              <div class="col-xs-12 detalle-ilustracion" ng-show="ilu.showDetail">
              
                          <div class="row">
                              <div class="col-xs-12">
                                  <h3> {{ilu.titulo}}</h3>
                                  <p> {{ilu.descripcion}} </p>
                          </div>
                          </div>
                          <div class="row">
                              <div class="col-xs-3">
                                  <img class="icon-svg-container compromiso-icon" ng-src="{{ilu.detalleCompromiso.iconSVG}}">
                              </div>
                              <div class="col-xs-9 progress-main">
                                  <div class="row">
                                      <div class="col-xs-12 right" >
                                          <p class="end-date"> <span>{{ilu.detalleCompromiso.cumplimiento}}</span></p>
                                      </div>
                                  </div>
                                   <div class="progress">
                                        <div class="progress-bar bg-color-{{currentIlustracion.detalleCompromiso.slug}}"
                                           role="progressbar"
                                           ng-style="{ 'width': ilu.detalleCompromiso.porcentaje_completado + '%' }">
                                           <span class="progressbar-w" ng-hide="ilu.detalleCompromiso.porcentaje_completado<50">{{ilu.detalleCompromiso.porcentaje_completado}}% </span>
                                        </div>
                                        <div class="progress-w" ng-show="!ilu.detalleCompromiso.porcentaje_completado">
                                           <p>-</p>
                                        </div>
                                        <div class="progress-w second-progress" ng-show="ilu.detalleCompromiso.porcentaje_completado<50" ng-style="{ 'width': (100 - ilu.detalleCompromiso.porcentaje_completado) + '%' }">{{ilu.detalleCompromiso.porcentaje_completado}}% </div>
                                     </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-xs-12">
                                <a ng-href="{{ilu.detalleCompromiso.url_interna}}" target="_blank" ng-hide="ilu.detalleCompromiso.url_interna === undefined" class="btn full btn-xs upper bg-color-{{ilu.detalleCompromiso.slug}}  center-block" >Ver mas sobre el compromiso &#187;  </a>
                             </div>
                          </div>


              </div>
            </div>
        </div>

	</div>
    <div class="detalle-ilustracion full" ng-show="currentIlustracion">
        <div class="inner">
            <div class="row">
                <div class="col-xs-12">
                    <a href="" ng-click="closeDetail()"><img class="close" src="images/cerrar.svg"></a>  
                    <h3> {{currentIlustracion.titulo}}</h3>
                    <p> {{currentIlustracion.descripcion}} </p>
            </div>
        </div>
            <div class="row">
                <div class="col-xs-3">
                    <img class="icon-svg-container compromiso-icon" ng-src="{{currentIlustracion.detalleCompromiso.iconSVG}}">
                </div>
                <div class="col-xs-9 progress-main">
                    <div class="row">
                        <div class="col-xs-12 right" >
                            <p class="end-date"> <span>{{currentIlustracion.detalleCompromiso.cumplimiento}}</span></p>
                        </div>
                    </div>
                     <div class="progress">
                          <div class="progress-bar bg-color-{{currentIlustracion.detalleCompromiso.slug}}"
                             role="progressbar"
                             ng-style="{ 'width': currentIlustracion.detalleCompromiso.porcentaje_completado + '%' }">
                             <span class="progressbar-w" ng-hide="currentIlustracion.detalleCompromiso.porcentaje_completado<50">{{currentIlustracion.detalleCompromiso.porcentaje_completado}}% </span>
                          </div>
                          <div class="progress-w" ng-show="!currentIlustracion.detalleCompromiso.porcentaje_completado">
                             <p>-</p>
                          </div>
                          <div class="progress-w second-progress" ng-show="currentIlustracion.detalleCompromiso.porcentaje_completado<50" ng-style="{ 'width': (100 - currentIlustracion.detalleCompromiso.porcentaje_completado) + '%' }">{{currentIlustracion.detalleCompromiso.porcentaje_completado}}% </div>
                       </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                  <a ng-href="{{currentIlustracion.detalleCompromiso.url_interna}}" target="_blank" ng-hide="currentIlustracion.detalleCompromiso.url_interna === undefined" class="btn full btn-xs upper bg-color-{{currentIlustracion.detalleCompromiso.slug}}  center-block" >Ver mas sobre el compromiso &#187;  </a>
               </div>
            </div>

        </div>
    </div>
</div>

